#root {
  min-width: 800px;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.checkbox-group {
  flex-direction: row;
  gap: 12px;
}

textarea {
  resize: vertical;
}

/* HOME */

.actions-container {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}

.actions-container a,
.actions-container button {
  width: 140px;
  height: 90px;
  border: 2px solid white;
  border-radius: 12px;
  display: grid;
  place-items: center;
  padding: 12px;
  box-sizing: border-box;
}

.actions-container a span {
  text-align: center;
}

.post-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
}

.post-card-container a {
  text-decoration: none;
  color: inherit;
}

.post-card {
  border: 2px solid white;
  border-radius: 12px;
  height: 80px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.post-card.not-published {
  opacity: 0.5;
}

.post-card h3 {
  margin: 0;
}

/* POST */

.post-content-container h1 {
  margin: 0;
}

.comments-container h2 {
  margin: 0;
}

.comments-container {
  margin-top: 40px;
}

.comments-container textarea {
  resize: vertical;
  padding: 8px;
}

.comments-container form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 10px;
}

.comments-container button {
  width: 100px;
}

.comments-container .comment-delete-btn {
  width: 200px;
}

/* CREATE POST */
